<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Tin tức</title>  
     {% load staticfiles %}  
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_show.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Mã bài viết</th>  
        <th>Tiêu đề</th>  
        <th>Loại</th>  
        <th>Thời gian</th>  
        <th>Nội dung bài viết</th>
        <th>ID Nhân viên</th>
        <th>Hành động</th>
    </tr>  
    </thead>  
    <tbody>  
{% for n in news %}  
    <tr>
        <td>{{ n.0 }}</td>  
        <td>{{ n.1 }}</td>  
        <td>{{ n.2 }}</td>  
        <td>{{ n.3 }}</td>  
        <td>{{ n.4 }}</td>
        <td>{{ n.5 }}</td>
        <td>  
            <a href="http://localhost:8000/news/edit/{{n.0}}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="http://localhost:8000/news/delete/{{n.0}}">Delete</a>
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>   
</body>  
</html>  