<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

{% load staticfiles %}

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static './css/style.css' %}">

{% block style %}{% endblock %}

<style>
.form-detail {
    padding-top: 50px;
    display: flex;
    align-items: flex-end;
  }
  
  .form-detail .control-custom {
    font-size: 14px;
    color: #868686;
    width: 97%;
  }
  
  .form-detail .group { 
    position: relative;
  }
  
  .form-detail input {
    display: block;
    padding: 14px 0;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 26px;
  }
  
  .form-detail textarea {
    display: block;
    border: none;
    border-bottom: 1px solid #d8d8d8;
  }
  
  .form-detail label {
    font-size: 14px;
    color: #868686;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 16px;
  }
  
  input:focus, 
  textarea:focus {
    outline: none;
  }
  
  .form-detail .bar { 
    position: relative; 
    display: block; 
    width: 97%; 
  }
  
  .bar::before,
  .bar::after {
    content:'';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #2cb680; 
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
  }
  
  .bar::before {
    left:50%;
  }
  
  .bar::after {
    right:50%; 
  }
  
  .form-detail input:focus ~ .bar::before,
  .form-detail input:focus ~ .bar::after,
  .form-detail textarea:focus ~ .bar::before,
  .form-detail textarea:focus ~ .bar::after {
    width:50%;
  }

  .form-button {
    margin-top: 20px;
    margin-left: 0px;  
  }

  .form-detail label {
    font-size: 14px;
    color: #868686;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 16px;
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
  }

.form-detail input:focus ~ label, 
.form-detail input:valid ~ label,
.form-detail textarea:focus ~ label,
.form-detail textarea:valid ~ label {
  top: -16px;
  color: #2cb680;
}

table, th, td{
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
table{
  border-collapse:collapse;
  width:100%;
}
th, td{
  text-align:left;
  padding:10px;
}


.quanpropro{
  position: relative;
  left: 20%;
  width: 130px;
  box-sizing: border-box;
  border: 1px solid rgb(201, 50, 50);
  border-radius: 4px;
  outline:none;
  padding: 12px 14px;
}

.quanprovai {
  position: relative;
  left: 20%;
  margin-top: 20px;   
  width: 130px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  outline:none;
  padding: 12px 14px;
}


</style>

{% block javascript %}{% endblock %}
<body>
 <div class="header">
        <div class="page">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__group"><a href="/" class="menu__link">Trang chủ</a></li>
              <li class="menu__group"><a href="/addDrink/" class="menu__link">Thực Đơn</a></li>
              <li class="menu__group"><a href="/news/" class="menu__link">Tin Tức</a></li>
              <li class="menu__group"><a href="/cart/" class="menu__link">Đơn Hàng</a></li>
              <li class="menu__group"><a href="/profile/" class="menu__link">Quản lí</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="cover-img"></div>

      
      {% block left_content %}{% endblock %}
      {% block right_content %}{% endblock %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>
      

</body>